In [15]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [31]:
df = pd.read_csv('train.csv')
df['Alone'] = [0 if df[df['Ticket'] == x]['Ticket'].count() > 1 else 1 for x in df['Ticket']]
df = df.drop(['PassengerId', 'Name', 'Ticket','Cabin'], axis=1)
df = df.dropna()

In [32]:
labels = ['Sex', 'Embarked']
for label in labels:
    encoder = LabelEncoder()
    encoder.fit(df[label])
    df[label] = encoder.transform(df[label])

In [38]:
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  Alone
0         0       3    1  22.0      1      0   7.2500         2      1
1         1       1    0  38.0      1      0  71.2833         0      1
2         1       3    0  26.0      0      0   7.9250         2      1
3         1       1    0  35.0      1      0  53.1000         2      0
4         0       3    1  35.0      0      0   8.0500         2      1

In [40]:
x = df.drop('Survived', axis=1)
y = df['Survived']

In [46]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeClassifier

In [47]:
params = {
    'criterion' : ['gini', 'entropy'],
    'splitter' : ['best', 'random'],
    'max_depth': range(1,50),
    'min_samples_split': range(1, 50),
    'min_samples_leaf': range(1, 50),
    'max_features' :['auto', 'sqrt', 'log2'],
    'random_state' : range(100),
         }
clf = DecisionTreeClassifier()
clf_cv = RandomizedSearchCV(clf, params, cv=5)
clf_cv.fit(x, y)

RandomizedSearchCV(cv=5, estimator=DecisionTreeClassifier(),
                   param_distributions={'criterion': ['gini', 'entropy'],
                                        'max_depth': range(1, 50),
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'min_samples_leaf': range(1, 50),
                                        'min_samples_split': range(1, 50),
                                        'random_state': range(0, 100),
                                        'splitter': ['best', 'random']})

In [49]:
clf_cv.best_params_

{'splitter': 'random',
 'random_state': 24,
 'min_samples_split': 8,
 'min_samples_leaf': 24,
 'max_features': 'log2',
 'max_depth': 9,
 'criterion': 'gini'}

In [50]:
clf_cv.best_score_

0.7992022062444597